---
import { PROJECTS_DATA } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { buttonVariants } from '../components/ui/button'
---

<BaseLayout
  title="Portfolio"
  description="Projects and some clone's that I did"
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <div class="flex items-center gap-4">
        <a href="/" class={buttonVariants({ variant: 'ghost' })}>
          ← Back
        </a>
        <h2
          class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
        >
          Projects and clone's
        </h2>
      </div>
    </TopLayout>
    <BottomLayout size="xl">
      <div class="flex w-full flex-wrap justify-center gap-2">
        {
          PROJECTS_DATA.map((project) => (
            <ProjectCard
              key={project.name}
              href={project.website}
              heading={project.name}
              subheading={project.description}
              imagePath={project.img}
              altText={project.name}
              class="w-full sm:w-2/5"
            />
          ))
        }
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
